* {
  margin: 0;
  padding: 0;
}

body {
  max-height: 100vh;
  background-color: #272d3b;
  color: #a7a3a3;
}

ul li {
  list-style: none;
}

svg.icon {
  width: 100px;
  height: 70px;
}

.root {
  position: relative;
}

.btn {
  display: inline-block;
  text-align: center;
  width: 70px;
  height: 20px;
  border-radius: 20px;
}

.hide {
  display: none;
}
